@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "SatoshiFont";
  src: url("/Satoshi-Variable.ttf") format("truetype");
  font-weight: 600px;
  font-style: bold;
}

body {
  font-family: "SatoshiFont", sans-serif;
}

.border-radius-sm{
  border-radius: 10px;
}
:root {
  --custom-gradient: linear-gradient(
    108deg,
    rgba(2, 125, 255, 0.9) 30.91%,
    rgba(140, 1, 232, 0.9) 49.51%,
    #6275e9 95.51%
  );
}

.boxCard {
  box-shadow: 0px 2px 4px 0px rgba(68, 55, 0, 0.01),
    0px 6px 9px 0px rgba(68, 55, 0, 0.01),
    0px 9px 17px 0px rgba(68, 55, 0, 0.01),
    0px 16px 28px 0px rgba(68, 55, 0, 0.01),
    0px 26px 46px 0px rgba(68, 55, 0, 0.01),
    0px 46px 86px 0px rgba(68, 55, 0, 0.01),
    0px 100px 176px 0px rgba(68, 55, 0, 0.02);
}

.buttonShadow {
  box-shadow: 0px 0px 0px 1px rgba(30, 53, 207, 0.08),
    0px 1px 2px 0px rgba(30, 53, 207, 0.12);
}

.purplegradient {
  background: var(--custom-gradient);
}

.form-box-shadow {
  box-shadow: 0px 2px 4px 0px rgba(68, 55, 0, 0.01),
    0px 6px 9px 0px rgba(68, 55, 0, 0.01),
    0px 9px 17px 0px rgba(68, 55, 0, 0.01),
    0px 16px 28px 0px rgba(68, 55, 0, 0.01),
    0px 26px 46px 0px rgba(68, 55, 0, 0.01),
    0px 46px 86px 0px rgba(68, 55, 0, 0.01),
    0px 100px 176px 0px rgba(68, 55, 0, 0.02);
}

.button-shadow {
  box-shadow: 0px 0px 0px 1px rgba(248, 248, 248, 0.08),
    0px 1px 2px 0px rgba(248, 248, 248, 0.12);
}

.contact-gradient {
  background: var(
    --gradient,
    linear-gradient(
      108deg,
      rgba(2, 125, 255, 0.9) 30.91%,
      rgba(140, 1, 232, 0.9) 49.51%,
      #6275e9 95.51%
    )
  );
}

.text-gradient {
  background: linear-gradient(
    108deg,
    rgba(2, 125, 255, 0.9) 30.91%,
    rgba(140, 1, 232, 0.9) 49.51%,
    #6275e9 95.51%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.border-gradient {
  position: relative;
  border: none; /* Remove the original border */
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: -4px; /* Negative of the border width */
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(
    108deg,
    rgba(2, 125, 255, 0.9) 30.91%,
    rgba(140, 1, 232, 0.9) 49.51%,
    #6275e9 95.51%
  );
  z-index: -1;
  border-radius: inherit; /* Keep the same border radius */
}