@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "SatoshiFont";
  src: url("/Satoshi-Variable.ttf") format("truetype");
  font-weight: 600px;
  font-style: bold;
}

body {
  font-family: "SatoshiFont", sans-serif;
}

.border-radius-sm{
  border-radius: 10px;
}
